.App {
    width: 100vw;
    height: 100vh;
    background-color: #000;
}

.App-header {
    display: flex;
}


li {
    color: #fff;
    list-style: none;
    
}

.listas {
    display: flex;
}

.item {
    min-width: 120px;
    font-size: 17px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 0 5px;
    margin: 0 5px;
    cursor: pointer;

}

.item:hover {
    background: rgb(102, 102, 102);
    border-radius: 5px;

}

.Chamada {
    font-size: 50px;
    color: #fff;
    padding-left: 30px;
    
   
}


.populares {
    min-width: 120px;
    font-size: 14px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 0 5px;
    margin: 0 5px;
    cursor: pointer;

}

.populares:hover {
    background: rgb(175, 37, 37);
    border-radius: 5px;

}